/* Global styles */

html,
body {
    height: 100vh;
}

body * {
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    flex: 1 0 auto;
    min-height: calc(100vh - 80px);
    /* margin-bottom: -60px; */
    /* padding-bottom: 60px; */
}

.scorer-image {
    width: 100px;
    height: auto;
}

.no-top-margin {
    margin-top: -20px;
}

.negative-top-margin {
    margin-top: -30px;
}

footer {
    flex-shrink: 0;
    position: relative;
}

@font-face {
    font-family: entypo;
    src: url("assets/fonts/toolkit-entypo.ttf");
}

h1 {
    font-family: entypo;
    font-size: 40px;
    margin-left: -45px;
}

h2 {
    font-size: 24px;
}

h3,
h4 {
    font-weight: 400;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 36px;
}


/* Button elements */

button {
    cursor: pointer;
}

.btn-success:hover {
    background-color: #1bc98e;
    border-color: rgb(27, 201, 142);
}

.btn-success:focus {
    box-shadow: none;
}

.btn-success:active {
    background-color: #1bc98e;
    border-color: rgb(27, 201, 142);
}

.btn-warning:hover {
    background-color: #e4d836;
    border-color: rgb(228, 216, 54);
}

.btn-warning:focus {
    box-shadow: none;
}

.btn-warning:active {
    background-color: #e4d836;
    border-color: rgb(228, 216, 54);
}

.btn-secondary:hover {
    background-color: rgb(245, 245, 245);
    border-color: gainsboro;
}

.btn-secondary:focus {
    box-shadow: none;
}

.btn-secondary:active {
    background-color: rgb(245, 245, 245);
    border-color: gainsboro;
}

.btn-info:hover {
    background-color: #9f86ff;
    border-color: rgb(159, 134, 255);
}

.btn-info:focus {
    box-shadow: none;
}

.btn-info:active {
    background-color: #9f86ff;
    border-color: rgb(159, 134, 255);
}


/* Logo container */

.container-logo,
.logo-link {
    align-items: center;
    justify-content: center;
}

.logo-link:hover,
.logo-link:focus {
    text-decoration: none;
}

.logo-link:focus {
    outline-color: #1997c6;
}


/* Entypo icon glyphs */

.icon-flash {
    font-size: 6rem;
    color: #1997c6;
}

.icon-flash:before {
    left: -20px;
}

.icon-trophy:before {
    font-size: 26px;
    top: 2px;
}

.icon-bar-graph {
    font-size: 1.6rem;
}


/* Nav elements */

#nav-toggler {
    height: 40px;
    width: 40px;
    border-radius: 4px;
    border-width: 2px;
    border: 2px solid #434857;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 2px;
    overflow: hidden;
}

#nav-toggler.no-border {
    border: none;
}

#nav-toggler span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #434857;
    transition: .05s ease-in-out;
}

#nav-toggler span:nth-child(2) {
    font-size: 36px;
    padding-left: 0;
    position: relative;
    top: 2px;
    left: -4px;
}

#nav-toggler span.active {
    transform: translateY(-100%);
}

#nav-toggler:focus {
    outline: 1px solid transparent;
}

.fa-futbol {
    font-weight: 700;
}

#nav-main .nav-link:focus,
#nav-main .nav-link.active:focus {
    outline: none;
    color: #fff;
    box-shadow: 0 0 0 1px #fff;
}

#nav-main #nav-contact-link:hover,
#nav-main #nav-contact-link:focus {
    background-color: #1997c6;
}

#nav-main #nav-contact-link:hover {
    color: #252830;
}

#nav-main #nav-contact-link:focus {
    outline: none;
}

.sidebar-nav .sidebar-header {
    padding: 0 0 60px;
}

#pills-tab .nav-item a.active {
    border: 1px solid #1997c6;
    border-radius: 4px;
}

#pills-tab .nav-item a.active:hover,
#pills-tab .nav-item a.active:focus {
    outline: none;
}

#pills-tab .nav-item a.active:focus {
    box-shadow: 0 0 0 1px #005fcc;
}

#pills-tab .nav-item a:not(.active) {
    border: 1px solid #fff;
    border-radius: 4px;
}

#pills-tab .nav-item a:not(.active):hover,
#pills-tab .nav-item a:not(.active):focus {
    outline: none;
}

#pills-tab .nav-item a:not(.active):focus {
    box-shadow: 0 0 0 1px #fff;
}

#nav-contact-link {
    color: #1997c6;
    border: 1px solid #1997cf;
}


/* Club colours */

.statcard-desc {
    display: block;
    line-height: 120%;
    font-size: 85%;
}

.btn-strike-rate {
    min-width: 50px;
}

.statcard-arsenal {
    color: #fff;
    background-color: #FF0100;
}

.statcard-secondary-arsenal,
.btn-strike-rate-arsenal {
    color: #ff0100;
    border: 5px solid #ff0100;
}

.statcard-crest {
    border: none;
}

.statcard-line-chart {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.btn-strike-rate-club {
    width: 100%;
}

.btn-strike-rate-club:hover,
.btn-strike-rate-club:focus {
    text-decoration: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.btn-strike-rate-club:focus {
    outline: none;
}

.btn-strike-rate-club:focus i {
    transform: scale(1.1);
}

.btn-strike-rate-club i {
    transition: transform .5s ease-in-out;
}

.btn-strike-rate-club:active {
    color: #fff;
    background-color: #1997c6;
    border-color: #1997c6;
}

.statcard-crest,
.statcard-line-chart,
.btn-strike-rate-club {
    align-items: center;
    justify-content: center;
}

.statcard-secondary-arsenal {
    background-color: #ff0100;
    border-width: 2px;
}

.btn-strike-rate-arsenal {
    background-color: #fff;
}

.statcard-crest-arsenal {
    background-color: #ff0100;
    color: #fff;
}

.statcard-line-chart-arsenal {
    background-color: #fff;
}

.btn-strike-rate-arsenal:hover,
.btn-strike-rate-arsenal:focus {
    background-color: #9D8349;
    border: 2px solid #9D8349;
}

.btn-strike-rate-arsenal:focus {
    color: #fff;
    box-shadow: 0 0 0 2px rgb(157, 131, 73);
}

.btn-strike-rate-arsenal {
    border-width: 2px;
}

.btn-strike-rate-club-arsenal {
    color: #ff0100;
}

.btn-strike-rate-club-arsenal:hover,
.btn-strike-rate-club-arsenal:focus {
    background-color: #9D8349;
    color: #fff;
}

.statcard-crest-astonvilla,
.statcard-astonvilla {
    color: #A5CCFF;
    background-color: #85001B;
}

.statcard-secondary-astonvilla,
.btn-strike-rate-astonvilla {
    color: #85001B;
    border: 5px solid #85001B;
}

.statcard-secondary-astonvilla {
    background-color: #85001B;
    border-width: 2px;
}

.btn-strike-rate-astonvilla {
    background-color: #A5CCFF;
}

.btn-strike-rate-astonvilla {
    border-width: 2px;
}

.btn-strike-rate-astonvilla:hover,
.btn-strike-rate-astonvilla:focus {
    color: #FFE600;
    border-color: #FFE600;
    background-color: #A5CCFF;
}

.btn-strike-rate-astonvilla:focus {
    box-shadow: 0 0 0 2px rgb(255, 230, 0);
}

.statcard-line-chart-astonvilla {
    background-color: #A5CCFF;
}

.btn-strike-rate-club-astonvilla {
    color: #85001b;
}

.btn-strike-rate-club-astonvilla:hover,
.btn-strike-rate-club-astonvilla:focus {
    background-color: #ffe600;
    color: #a5ccff;
}

.statcard-brightonandhovealbion {
    color: #fff;
    background-color: #0244A8;
}

.statcard-secondary-brightonandhovealbion,
.btn-strike-rate-brightonandhovealbion,
.statcard-crest-brightonandhovealbion {
    color: #0244A8;
    border: 5px solid#0244A8;
}

.statcard-secondary-brightonandhovealbion {
    background-color: #0244A8;
    border-width: 2px;
}

.btn-strike-rate-brightonandhovealbion {
    background-color: #fFF;
}

.btn-strike-rate-brightonandhovealbion {
    border-width: 2px;
}

.btn-strike-rate-brightonandhovealbion:hover,
.btn-strike-rate-brightonandhovealbion:focus {
    background-color: #fff;
    border-color: #F2AC02;
    color: #F2AC02;
}

.btn-strike-rate-brightonandhovealbion:focus {
    box-shadow: 0 0 0 2px #f2ac02;
}

.statcard-crest-brightonandhovealbion {
    background-color: #0244A8;
}

.statcard-line-chart-brightonandhovealbion {
    background-color: #fFF;
}

.btn-strike-rate-club-brightonandhovealbion {
    color: #0244A8;
}

.btn-strike-rate-club-brightonandhovealbion:hover,
.btn-strike-rate-club-brightonandhovealbion:focus {
    background-color: #f2ac02;
    color: #fff;
}

.statcard-burnley,
.statcard-crest-burnley {
    color: #81C0FE;
    background-color: #81001A;
}

.statcard-secondary-burnley,
.btn-strike-rate-burnley {
    color: #81001A;
    border: 5px solid #81001A;
}

.statcard-secondary-burnley {
    background-color: #81001A;
    border-width: 2px;
}

.btn-strike-rate-burnley {
    background-color: #81C0FE;
}

.btn-strike-rate-burnley {
    border-width: 2px;
}

.btn-strike-rate-burnley:hover,
.btn-strike-rate-burnley:focus {
    color: #FFF306;
    background-color: #81C0FE;
    border-color: #FFF306;
}

.btn-strike-rate-burnley:focus {
    box-shadow: 0 0 0 2px #fff306;
}

.statcard-line-chart-burnley {
    background-color: #81C0FE;
}

.btn-strike-rate-club-burnley {
    color: #81001A;
}

.btn-strike-rate-club-burnley:hover,
.btn-strike-rate-club-burnley:focus {
    background-color: #fff306;
    color: #81c0fe;
}

.statcard-chelsea {
    color: #fff;
    background-color: #0000FB;
}

.statcard-secondary-chelsea,
.btn-strike-rate-chelsea,
.statcard-crest-chelsea {
    color: #0000FB;
    border: 5px solid #0000FB;
}

.statcard-crest-chelsea,
.statcard-secondary-chelsea {
    background-color: #0000FB;
    border-width: 2px;
}

.btn-strike-rate-chelsea {
    background-color: #fff;
}

.btn-strike-rate-chelsea {
    border-width: 2px;
}

.btn-strike-rate-chelsea:hover,
.btn-strike-rate-chelsea:focus {
    color: #DBA111;
    background-color: #fff;
    border-color: #DBA111;
}

.btn-strike-rate-chelsea:focus {
    box-shadow: 0 0 0 2px #dba111;
}

.statcard-line-chart-chelsea {
    background-color: #fff;
}

.btn-strike-rate-club-chelsea {
    color: #0000fb;
}

.btn-strike-rate-club-chelsea:hover,
.btn-strike-rate-club-chelsea:focus {
    background-color: #dba111;
    color: #fff;
}

.statcard-crystalpalace {
    color: #FF0100;
    background-color: #0000FF;
}

.statcard-desc.statcard-desc-crystalpalace {
    color: rgba(255, 255, 255, 1);
}

.statcard-secondary-crystalpalace,
.btn-strike-rate-crystalpalace,
.statcard-crest-crystalpalace {
    color: #0000FF;
    border: 5px solid #0000FF;
}

.statcard-secondary-crystalpalace,
.statcard-crest-crystalpalace {
    background-color: #0000FF;
    border-width: 2px;
}

.btn-strike-rate-crystalpalace {
    background-color: #ff0100;
}

.btn-strike-rate-crystalpalace {
    border-width: 2px;
}

.btn-strike-rate-crystalpalace:hover,
.btn-strike-rate-crystalpalace:focus {
    color: #00f;
    background-color: #ff0100;
    border-color: #FFF;
}

.btn-strike-rate-crystalpalace:focus {
    box-shadow: 0 0 0 2px #fff;
}

.statcard-line-chart-crystalpalace {
    background-color: #ff0100;
}

.btn-strike-rate-club-crystalpalace {
    color: #00f;
}

.btn-strike-rate-club-crystalpalace:hover,
.btn-strike-rate-club-crystalpalace:focus {
    background-color: #fff;
    color: #ff0100;
}

.statcard-everton {
    color: #fFF;
    background-color: #0000FF;
}

.statcard-secondary-everton,
.btn-strike-rate-everton,
.statcard-crest-everton {
    color: #0000FF;
    border: 5px solid #0000FF;
}

.statcard-crest-everton,
.statcard-secondary-everton {
    background-color: #0000FF;
    border-width: 2px;
}

.btn-strike-rate-everton {
    background-color: #fff;
}

.btn-strike-rate-everton {
    border-width: 2px;
}

.btn-strike-rate-everton:hover,
.btn-strike-rate-everton:focus {
    color: #F7CE06;
    background-color: #fff;
    border-color: #F7CE06;
}

.btn-strike-rate-everton:focus {
    box-shadow: 0 0 0 2px #f7ce06;
}

.statcard-line-chart-everton {
    background-color: #fff;
}

.btn-strike-rate-club-everton {
    color: #00f;
}

.btn-strike-rate-club-everton:hover,
.btn-strike-rate-club-everton:focus {
    background-color: #f7ce06;
    color: #fff;
}

.statcard-fulham {
    color: #0C0D0F;
    background-color: #E7E9EE;
}

.statcard-desc.statcard-desc-fulham {
    color: #CD0000;
    font-weight: 500;
}

.statcard-secondary-fulham,
.btn-strike-rate-fulham,
.statcard-crest-fulham {
    color: #E7E9EE;
    border: 5px solid #E7E9EE;
}

.statcard-secondary-fulham,
.statcard-crest-fulham {
    background-color: #E7E9EE;
}

.statcard-secondary-fulham {
    border-width: 2px;
}

.btn-strike-rate-fulham {
    background-color: #0c0d0f;
}

.btn-strike-rate-fulham {
    border-width: 2px;
}

.btn-strike-rate-fulham:hover,
.btn-strike-rate-fulham:focus {
    background-color: #cd0000;
    border-color: #0c0d0f;
}

.btn-strike-rate-fulham:focus {
    box-shadow: 0 0 0 2px #0c0d0f;
}

.btn-strike-rate-fulham .icon-bar-graph {
    color: #cd0000;
}

.btn-strike-rate-fulham:hover .icon-bar-graph,
.btn-strike-rate-fulham:focus .icon-bar-graph {
    color: #0c0d0f;
}

.statcard-line-chart-fulham {
    background-color: #0c0d0f;
}

.btn-strike-rate-club-fulham:hover,
.btn-strike-rate-club-fulham:focus {
    background-color: #cd0000;
    color: #0c0d0f;
}

.btn-strike-rate-club-fulham {
    color: #cd0000;
}

.statcard-leedsunited {
    color: #0060A9;
    background-color: #FFf;
}

.statcard-leedsunited .statcard-number {
    font-weight: 500;
}

.statcard-desc.statcard-desc-leedsunited {
    color: #FFE003;
    font-weight: 600;
}

.statcard-secondary-leedsunited,
.btn-strike-rate-leedsunited,
.statcard-crest-leedsunited {
    color: #fff;
    border: 5px solid #fff;
}

.statcard-secondary-leedsunited {
    border-width: 2px;
}

.statcard-crest-leedsunited,
.statcard-secondary-leedsunited {
    background-color: #fff;
}

.btn-strike-rate-leedsunited {
    background-color: #0060A9;
    border-width: 2px;
}

.btn-strike-rate-leedsunited .icon-bar-graph {
    color: #ffe003;
}

.btn-strike-rate-leedsunited:hover,
.btn-strike-rate-leedsunited:focus {
    background-color: #ffe003;
    border-color: #0060a9;
}

.btn-strike-rate-leedsunited:focus {
    box-shadow: 0 0 0 2px #0060a9;
}

.btn-strike-rate-leedsunited:hover .icon-bar-graph,
.btn-strike-rate-leedsunited:focus .icon-bar-graph {
    color: #0060a9;
}

.statcard-line-chart-leedsunited {
    background-color: #0060a9;
}

.btn-strike-rate-club-leedsunited {
    color: #ffe003;
}

.btn-strike-rate-club-leedsunited:hover,
.btn-strike-rate-club-leedsunited:focus {
    background-color: #ffe003;
    color: #0060a9;
}

.statcard-leicestercity {
    color: #A49261;
    background-color: #0000FF;
}

.statcard-secondary-leicestercity,
.btn-strike-rate-leicestercity,
.statcard-crest-leicestercity {
    color: #0000FF;
    border: 5px solid #0000FF;
}

.statcard-secondary-leicestercity,
.btn-strike-rate-leicestercity {
    border-width: 2px;
}

.statcard-crest-leicestercity,
.statcard-secondary-leicestercity {
    background-color: #0000FF;
}

.btn-strike-rate-leicestercity {
    background-color: #A49261;
}

.btn-strike-rate-leicestercity:hover,
.btn-strike-rate-leicestercity:focus {
    color: #a49261;
    background-color: #00f;
    border-color: #a49261;
}

.btn-strike-rate-leicestercity:focus {
    box-shadow: 0 0 0 2px #a49261;
}

.statcard-crest-leicestercity>img,
.statcard-crest-manchesterunited>img {
    min-width: 46px;
}

.statcard-line-chart-leicestercity {
    background-color: #a49261;
}

.btn-strike-rate-club-leicestercity {
    color: #00f;
}

.btn-strike-rate-club-leicestercity:hover,
.btn-strike-rate-club-leicestercity:focus {
    background-color: #fff;
    color: #a49261;
}

.statcard-liverpool {
    color: #fff;
    background-color: #D93142;
}

.statcard-desc.statcard-desc-liverpool {
    color: #3CA0BF;
    /* font-weight: 600; */
}

.statcard-secondary-liverpool,
.btn-strike-rate-liverpool,
.statcard-crest-liverpool {
    color: #D93142;
    border: 5px solid #D93142;
}

.btn-strike-rate-liverpool,
.statcard-secondary-liverpool {
    border-width: 2px;
}

.statcard-crest-liverpool,
.statcard-secondary-liverpool {
    background-color: #D93142;
}

.btn-strike-rate-liverpool {
    background-color: #fff;
}

.btn-strike-rate-liverpool:hover,
.btn-strike-rate-liverpool:focus {
    background-color: #3ca0bf;
    border-color: #FFf;
}

.btn-strike-rate-liverpool:focus {
    box-shadow: 0 0 0 2px #fff;
}

.btn-strike-rate-liverpool .icon-bar-graph {
    color: #3CA0BF;
}

.btn-strike-rate-liverpool:hover .icon-bar-graph,
.btn-strike-rate-liverpool:focus .icon-bar-graph {
    color: #fff;
}

.btn-strike-rate-club-liverpool:hover,
.btn-strike-rate-club-liverpool:focus {
    background-color: #3ca0bf;
    color: #fff;
}

.statcard-line-chart-liverpool {
    background-color: #fff;
}

.btn-strike-rate-club-liverpool {
    color: #3ca0bf;
}

.statcard-manchestercity {
    color: #fff;
    background-color: #9BCDFF;
}

.statcard-desc.statcard-desc-manchestercity {
    color: #000;
}

.statcard-secondary-manchestercity,
.btn-strike-rate-manchestercity,
.statcard-crest-manchestercity {
    color: #9BCDFF;
    border: 5px solid #9BCDFF;
}

.statcard-secondary-manchestercity,
.btn-strike-rate-manchestercity {
    border-width: 2px;
}

.statcard-crest-manchestercity,
.statcard-secondary-manchestercity {
    background-color: #9BCDFF;
}

.btn-strike-rate-manchestercity {
    background-color: #fff;
}

.btn-strike-rate-manchestercity:hover,
.btn-strike-rate-manchestercity:focus {
    background-color: #000;
    border-color: #FFF;
}

.btn-strike-rate-manchestercity:focus {
    box-shadow: 0 0 0 2px #fff;
}

.btn-strike-rate-manchestercity .icon-bar-graph {
    color: #000;
}

.btn-strike-rate-manchestercity:hover .icon-bar-graph,
.btn-strike-rate-manchestercity:focus .icon-bar-graph {
    color: #fff;
}

.statcard-line-chart-manchestercity {
    background-color: #fff;
}

.btn-strike-rate-club-manchestercity {
    color: #000;
}

.btn-strike-rate-club-manchestercity:hover,
.btn-strike-rate-club-manchestercity:focus {
    background-color: #000;
    color: #fff;
}

.statcard-manchesterunited {
    color: #fFF;
    background-color: #FF0100;
}

.statcard-desc.statcard-desc-manchesterunited {
    color: #FFE500;
}

.statcard-secondary-manchesterunited,
.btn-strike-rate-manchesterunited,
.statcard-crest-manchesterunited {
    color: #FF0100;
    border: 2px solid #FF0100;
}

.statcard-crest-manchesterunited {
    border-width: 5px;
}

.statcard-crest-manchesterunited,
.statcard-secondary-manchesterunited {
    background-color: #FF0100;
}

.btn-strike-rate-manchesterunited {
    background-color: #fff;
}

.btn-strike-rate-manchesterunited:hover,
.btn-strike-rate-manchesterunited:focus {
    color: #FFe500;
    background-color: #fff;
    border-color: #FFe500;
}

.btn-strike-rate-manchesterunited:focus {
    box-shadow: 0 0 0 2px #ffe500;
}

.statcard-line-chart-manchesterunited {
    background-color: #fff;
}

.btn-strike-rate-club-manchesterunited {
    color: #ff0100;
}

.btn-strike-rate-club-manchesterunited:hover,
.btn-strike-rate-club-manchesterunited:focus {
    background-color: #ffe500;
    color: #fff;
}

.statcard-crest-newcastleunited,
.statcard-secondary-newcastleunited,
.statcard-newcastleunited {
    background-color: #000000;
    border: 1px solid #fff;
}

.statcard-newcastleunited {
    color: #fFF;
    border-right: none;
}

.statcard-desc.statcard-desc-newcastleunited {
    color: #7FE2FC;
}

.btn-strike-rate-newcastleunited {
    color: #000000;
    border: 5px solid #000000;
}

.statcard-crest-newcastleunited,
.statcard-secondary-newcastleunited {
    background-color: #000;
    border-left: none;
}

.btn-strike-rate-newcastleunited {
    background-color: #fff;
    border: 5px solid #fff;
}

.btn-strike-rate-newcastleunited {
    border-width: 3px;
}

.btn-strike-rate-newcastleunited:hover,
.btn-strike-rate-newcastleunited:focus {
    color: #FFF;
    background-color: #000;
    border-color: #FFF;
}

.btn-strike-rate-newcastleunited:focus {
    box-shadow: 0 0 0 2px #000;
}

.statcard-line-chart-newcastleunited {
    background-color: #fff;
}

.btn-strike-rate-club-newcastleunited {
    color: #000;
}

.btn-strike-rate-club-newcastleunited:hover,
.btn-strike-rate-club-newcastleunited:focus {
    background-color: #7fe2fc;
    color: #fff;
}

.statcard-sheffieldunited,
.statcard-secondary-sheffieldunited,
.statcard-crest-sheffieldunited {
    color: #FF0100;
    background-color: #FFf;
    border: 2px solid #ff0100;
}

.statcard-crest-sheffieldunited {
    border-width: 2px;
    border-left: none;
}

.statcard-sheffieldunited {
    border-right: none;
}

.statcard-desc.statcard-desc-sheffieldunited {
    color: #000;
    font-weight: 500;
}

.btn-strike-rate-sheffieldunited {
    color: #FFf;
    border: 2px solid#FFf;
    background-color: #FF0100;
}

.statcard-secondary-sheffieldunited {
    background-color: #FF0100;
    border-left: none;
}

.btn-strike-rate-sheffieldunited:hover,
.btn-strike-rate-sheffieldunited:focus {
    color: #000;
    background-color: #ff0100;
    border-color: #000;
}

.btn-strike-rate-sheffieldunited:focus {
    box-shadow: 0 0 0 2px #000;
}

.statcard-line-chart-sheffieldunited {
    background-color: #ff0111;
}

.btn-strike-rate-club-sheffieldunited {
    color: #fff;
}

.btn-strike-rate-club-sheffieldunited:hover,
.btn-strike-rate-club-sheffieldunited:focus {
    background-color: #000;
    color: #ff0111;
}

.statcard-secondary-southampton,
.statcard-southampton {
    background-color: #FF0100;
    border: 1px solid #f0f0f0;
}

.statcard-southampton {
    color: #fFF;
    border-right: none;
}

.statcard-desc.statcard-desc-southampton {
    color: #000;
}

.btn-strike-rate-southampton {
    color: #FF0100;
    border: 3px solid#FF0100;
}

.statcard-crest-southampton,
.statcard-secondary-southampton {
    background-color: #FF0100;
}

.statcard-crest-southampton {
    border: 1px solid #FFf;
    border-left: none;
}

.btn-strike-rate-southampton {
    background-color: #f0f0f0;
}

.btn-strike-rate-southampton:hover,
.btn-strike-rate-southampton:focus {
    background-color: #000;
    border-color: #FFF;
}

.btn-strike-rate-southampton:focus {
    box-shadow: 0 0 0 2px #fff;
}

.btn-strike-rate-southampton .icon-bar-graph {
    color: #000;
}

.btn-strike-rate-southampton:hover .icon-bar-graph,
.btn-strike-rate-southampton:focus .icon-bar-graph {
    color: #fff;
}

.statcard-line-chart-southampton {
    background-color: #fff;
}

.btn-strike-rate-club-southampton {
    color: #ff0100;
}

.btn-strike-rate-club-southampton:hover,
.btn-strike-rate-club-southampton:focus {
    background-color: #000;
    color: #fff;
}

.statcard-tottenhamhotspur,
.statcard-secondary-tottenhamhotspur,
.statcard-crest-tottenhamhotspur {
    background-color: #FBFBFB;
    border: 2px solid #fbfbfb;
}

.statcard-tottenhamhotspur {
    color: #000060;
    border-right: none;
}

.statcard-secondary-tottenhamhotspur,
.statcard-crest-tottenhamhotspur {
    border-left: none;
}

.statcard-crest-tottenhamhotspur {
    border-width: 5px;
}

.statcard-desc.statcard-desc-tottenhamhotspur {
    color: #D9CB52;
    font-weight: 500;
}

.btn-strike-rate-tottenhamhotspur {
    color: #FBFBFB;
    border: 2px solid #FBFBFB;
    background-color: #000060;
}

.btn-strike-rate-tottenhamhotspur:hover,
.btn-strike-rate-tottenhamhotspur:focus {
    background-color: #d9cb52;
    border-color: #000060;
}

.btn-strike-rate-tottenhamhotspur:focus {
    box-shadow: 0 0 0 2px #000060;
}

.btn-strike-rate-tottenhamhotspur .icon-bar-graph {
    color: #D9CB52;
}

.btn-strike-rate-tottenhamhotspur:hover .icon-bar-graph,
.btn-strike-rate-tottenhamhotspur:focus .icon-bar-graph {
    color: #000060;
}

.statcard-line-chart-tottenhamhotspur {
    background-color: #000060;
}

.btn-strike-rate-club-tottenhamhotspur {
    color: #d9cb52;
}

.btn-strike-rate-club-tottenhamhotspur:hover,
.btn-strike-rate-club-tottenhamhotspur:focus {
    background-color: #d9cb52;
    color: #000060;
}

.statcard-westbromwichalbion {
    color: #FFFFFF;
    background-color: #020B52;
}

.statcard-secondary-westbromwichalbion,
.btn-strike-rate-westbromwichalbion,
.statcard-crest-westbromwichalbion {
    color: #020B52;
    border: 2px solid #020B52;
}

.statcard-crest-westbromwichalbion,
.statcard-secondary-westbromwichalbion {
    background-color: #020B52;
}

.btn-strike-rate-westbromwichalbion {
    background-color: #fff;
}

.statcard-crest-westbromwichalbion {
    border-width: 5px;
}

.btn-strike-rate-westbromwichalbion:hover,
.btn-strike-rate-westbromwichalbion:focus {
    color: #FFF;
    background-color: #020b52;
    border-color: #FFF;
}

.btn-strike-rate-westbromwichalbion:focus {
    box-shadow: 0 0 0 2px #fff;
}

.statcard-line-chart-westbromwichalbion {
    background-color: #fff;
}

.btn-strike-rate-club-westbromwichalbion {
    color: #020b52;
}

.btn-strike-rate-club-westbromwichalbion:hover,
.btn-strike-rate-club-westbromwichalbion:focus {
    background-color: #020b52;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: -3px;
    border: 3px solid #fff;
}

.statcard-westhamunited {
    color: #81C0FF;
    background-color: #970714;
}

.statcard-secondary-westhamunited,
.btn-strike-rate-westhamunited,
.statcard-crest-westhamunited {
    color: #970714;
    border: 2px solid #970714;
}

.statcard-crest-westhamunited {
    border-width: 5px;
}

.statcard-crest-westhamunited,
.statcard-secondary-westhamunited {
    background-color: #970714;
}

.btn-strike-rate-westhamunited {
    background-color: #81C0FF;
}

.btn-strike-rate-westhamunited:hover,
.btn-strike-rate-westhamunited:focus {
    color: #81c0ff;
    background-color: #970714;
    border-color: #81c0ff;
}

.btn-strike-rate-westhamunited:focus {
    box-shadow: 0 0 0 2px #81c0ff;
}

.statcard-line-chart-westhamunited {
    background-color: #81c0ff;
}

.btn-strike-rate-club-westhamunited {
    color: #970714;
}

.btn-strike-rate-club-westhamunited:hover,
.btn-strike-rate-club-westhamunited:focus {
    background-color: #970714;
    color: #81c0ff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: -3px;
    border: 3px solid #81c0ff;
}

.statcard-wolverhamptonwanderers {
    color: #000000;
    background-color: #FF8400;
}

.statcard-secondary-wolverhamptonwanderers,
.btn-strike-rate-wolverhamptonwanderers,
.statcard-crest-wolverhamptonwanderers {
    color: #FF8400;
    border: 2px solid #FF8400;
}

.statcard-crest-wolverhamptonwanderers,
.statcard-secondary-wolverhamptonwanderers {
    background-color: #FF8400;
}

.btn-strike-rate-wolverhamptonwanderers {
    background-color: #000;
}

.statcard-crest-wolverhamptonwanderers {
    border-width: 5px;
}

.btn-strike-rate-wolverhamptonwanderers {
    border-color: #000;
}

.btn-strike-rate-wolverhamptonwanderers:hover,
.btn-strike-rate-wolverhamptonwanderers:focus {
    color: #000;
    background-color: #ff8400;
    border-color: #000;
}

.btn-strike-rate-wolverhamptonwanderers:focus {
    box-shadow: 0 0 0 2px #000;
}

.statcard-line-chart-wolverhamptonwanderers {
    background-color: #000;
}

.btn-strike-rate-club-wolverhamptonwanderers {
    color: #ff8400;
}

.btn-strike-rate-club-wolverhamptonwanderers:hover,
.btn-strike-rate-club-wolverhamptonwanderers:focus {
    background-color: #ff8400;
    color: #000;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin: -3px;
    border: 3px solid #000;
}

.fa-chart-line {
    font-size: 2.2rem;
    line-height: 74px;
}


/* UI */

.input-with-icon {
    display: unset;
}

.input-with-icon>.form-control {
    padding-left: 44px;
    padding-right: 22px;
}


/* UI statcard elements */

.statcard.col-9,
.statcard.col-8 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.statcard.col-3 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    align-items: center;
    justify-content: center;
}

.btn-strike-rate {
    width: 100%;
    height: auto;
}

.statcard-number-clubs {
    font-size: 20px;
}


/* Spinner */


/* Code template snippet found here: https://codepen.io/eyalcohen4/pen/mprbzP */

.main-loader {
    height: 35vh;
    background-color: transparent;
}

.main-fader {
    width: 100%;
    height: 35vh;
    position: absolute;
    background-color: transparent;
}

.loader {
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg {
    height: 300px;
    display: block;
    margin: 0 auto;
}

path {
    animation: pulse 1s infinite;
    color: #26a380;
}

.path-7 {
    animation-delay: -1s;
}

.path-6 {
    animation-delay: -.875ss;
}

.path-5 {
    animation-delay: -.75ss;
}

.path-4 {
    animation-delay: -.625s;
}

.path-3 {
    animation-delay: -.5s;
}

.path-2 {
    animation-delay: -.375s;
}

.path-1 {
    animation-delay: -.25s;
}

.path-0 {
    animation-delay: -.125s;
}

@keyframes pulse {
    0% {
        opacity: .1;
    }
    30% {
        opacity: .8;
    }
    100% {
        opacity: .1;
    }
}


/* Scorer dashboard UI */

.icon-user,
.icon-sports-club {
    font-size: 80px;
}

.icon-user::before {
    display: flex;
}

.statcard-img {
    border: 1px solid #434857;
}

.statcard-img-thfc {
    background-color: #fdfdfd;
    border: 1px solid #fdfdfd;
    margin-top: 8px;
}

.iconav-nav>.nav-item>.nav-link.active {
    color: #252830;
}

.iconav-nav>.nav-item>.nav-link,
.statcard-body-row {
    border: 1px solid #fdfdfd;
}

.statcard-body,
#scorers-strikerate,
#scorers-strikevalue,
#clubs-strikerate,
#clubs-strikevalue {
    background-color: #434857;
}

.statcard-canvas {
    min-height: 239px;
    border-bottom: none;
}

#player-match-list,
#club-match-list {
    padding-left: 15px;
    padding-right: 15px;
}

.iconav-icon {
    font-size: 30px;
}

.iconav-nav-label {
    font-size: 14px;
}

#statcard-value-statm,
#statcard-player-value-stat {
    margin-left: -25px;
}

#scorers-tab a.active,
#clubs-tab a.active {
    color: #252830;
    background-color: #1997c6;
}

#scorers-tab li:not(:first-child) a.active,
#clubs-tab li:not(:first-child) a.active {
    border-left: none;
}

.crest-box,
.user-box {
    justify-content: center;
}

.crest-box {
    align-items: center;
}


/* Leaderboards */

.hr-divider:before {
    background-color: #252830;
}

.leaderboard-table {
    table-layout: fixed;
}

.leaderboard-table th {
    border-top: 0;
}

.leaderboard-table a {
    color: #cfd2da;
}

.leaderboard-table a:hover,
.leaderboard-table a:focus {
    text-decoration: none;
    color: #1997c6;
}

.leaderboard-table tr:first-child th:first-child {
    width: 5%;
}

.leaderboard-table tr:first-child th:nth-child(2) {
    width: 29%;
}

.leaderboard-table tr:first-child th:nth-child(3) {
    width: 15%;
    padding-right: 12px;
}

.leaderboard-table tr:first-child th:nth-child(4) {
    width: 17%;
}

.leaderboard-table tr:first-child th:nth-child(5) {
    width: 17%;
}

.leaderboard-table tr:first-child th:nth-child(6) {
    width: 17%;
}

.crest-pane {
    background-color: #252830;
    background-position: center;
    background-repeat: no-repeat;
    height: 26px;
    background-size: 26px;
    position: relative;
}

.arsenal-crest-pane {
    background-image: url("../../assets/images/crests/Arsenal_FC.svg");
    background-size: 24px;
}

.aston-villa-crest-pane {
    background-image: url("../../assets/images/crests/Aston_Villa_FC_crest_\(2016\).svg");
    background-size: 22px;
}

.brighton-and-hove-albion-crest-pane {
    background-image: url("../../assets/images/crests/Brighton_&_Hove_Albion_logo.svg");
}

.burnley-crest-pane {
    background-image: url("../../assets/images/crests/Burnley_F.C._Logo.svg");
    background-size: 24px;
}

.chelsea-crest-pane {
    background-image: url("../../assets/images/crests/Chelsea_FC.svg");
}

.crystal-palace-crest-pane {
    background-image: url("../../assets/images/crests/Crystal_Palace_FC_logo.svg");
    background-size: 22px;
}

.everton-crest-pane {
    background-image: url("../../assets/images/crests/Everton_FC_logo.svg");
}

.fulham-crest-pane {
    background-image: url("../../assets/images/crests/Fulham_FC_\(shield\).svg");
    background-size: 22px;
}

.leeds-united-crest-pane {
    background-image: url("../../assets/images/crests/Leeds_United_F.C._logo.svg");
    background-size: 24px;
}

.leicester-city-crest-pane {
    background-image: url("../../assets/images/crests/Leicester_City_crest.svg");
}

.liverpool-crest-pane {
    background-image: url("../../assets/images/crests/Liverpool_FC.svg");
    background-size: 24px;
}

.manchester-city-crest-pane {
    background-image: url("../../assets/images/crests/Manchester_City_FC_badge.svg");
}

.manchester-united-crest-pane {
    background-image: url("../../assets/images/crests/Manchester_United_FC_crest.svg");
}

.newcastle-united-crest-pane {
    background-image: url("../../assets/images/crests/Newcastle_United_Logo.svg");
}

.sheffield-united-crest-pane {
    background-image: url("../../assets/images/crests/Sheffield_United_FC_logo.svg");
}

.southampton-crest-pane {
    background-image: url("../../assets/images/crests/FC_Southampton.svg");
}

.tottenham-hotspur-crest-pane {
    background-image: url("../../assets/images/crests/Tottenham_Hotspur_light.svg");
    background-size: 18px;
}

.west-bromwich-albion-crest-pane {
    background-image: url("../../assets/images/crests/West_Bromwich_Albion.svg");
}

.west-ham-united-crest-pane {
    background-image: url("../../assets/images/crests/West_Ham_United_FC_logo.svg");
    background-size: 24px;
}

.wolverhampton-wanderers-crest-pane {
    background-image: url("../../assets/images/crests/Wolverhampton_Wanderers.svg");
}


/* Footer */

.footer-row {
    font-size: 1.8rem;
}

.social-list {
    justify-content: center;
}

.social-list a {
    padding: 5px 30px;
    margin: 10px 0 0;
}

.social-list li:first-child a {
    padding-left: 10px;
}

.social-list li:last-child a {
    padding-right: 10px;
}

.social-list .icon {
    color: #434857;
    display: inline-block;
}

.social-list .icon:hover,
.social-list .icon:focus {
    animation: social-zoom 500ms ease-in-out forwards;
}

.social-list .icon:focus {
    outline: none;
}

@keyframes social-zoom {
    0% {
        color: #434857;
        transform: scale(1);
    }
    100% {
        color: #1997c6;
        transform: scale(1.5);
    }
}

;